<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="Sample.App.Desktop.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sample.App.Desktop.Main.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>https://localhost:5001/</value>
            </setting>
        </Sample.App.Desktop.Main.Properties.Settings>
    </applicationSettings>
</configuration>